h1{
    color: darkgreen;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

button{
    font-family: 'Lato', sans-serif;
}